In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "price":[95000,100000,120000],
    "old": [25,10,5]
})
df

    price  old
0   95000   25
1  100000   10
2  120000    5

In [3]:
(df-df.mean())/df.std()

      price       old
0 -0.755929  1.120897
1 -0.377964 -0.320256
2  1.133893 -0.800641

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
scaler.transform(df)

C:\Users\JMLAP\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\JMLAP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

array([[-0.9258201 ,  1.37281295],
       [-0.46291005, -0.39223227],
       [ 1.38873015, -0.98058068]])