# 직접 해보세요!
## groupby 메서드로 평균값 구하기(215쪽)

In [3]:
import pandas as pd 
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

In [2]:
avg_life_exp_by_year = df.groupby('year').lifeExp.mean() 
print(avg_life_exp_by_year)

# avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()
# print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 분할-반영-결합 과정 살펴보기(216쪽)

In [9]:
years = df['year'].unique() 
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [5]:
y1952 = df.loc[df.year == 1952, :]
print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [6]:
y1952_mean = y1952.lifeExp.mean() 
print(y1952_mean)

49.05761971830987

In [7]:
y1957 = df.loc[df.year == 1957, :] 
y1957_mean = y1957.lifeExp.mean( )
print(y1957_mean)

y1962 = df.loc[df.year == 1962, :] 
y1962_mean = y1962.lifeExp.mean( )
print(y1962_mean)

y2007 = df.loc[df.year == 2007, :] 
y2007_mean = y2007.lifeExp.mean( )
print(y2007_mean)

51.50740112676054
53.60924901408449
67.00742253521126

In [8]:
df2 = pd.DataFrame({"year":[1952, 1957, 1962, 2007], 
                    "":[y1952_mean, y1957_mean,y1962_mean,y2007_mean]}) 
print(df2)

   year
0  1952  49.057620
1  1957  51.507401
2  1962  53.609249
3  2007  67.007423

# 직접 해보세요!
## 평균값을 구하는 사용자 함수와 groupby 메서드(219쪽)

In [11]:
def my_mean(values):
    n = len(values)
    
    sum = 0 
    for value in values:
        sum += value
    
    return sum / n

In [12]:
agg_my_mean = df.groupby('year').lifeExp.agg(my_mean) 
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [14]:
def mean_deviation(values):
    n = len(values)
    
    sum_value = 0
    for value in values:
        sum_value += value
        
    mean_value = sum_value / n
    
    sum_deviation = 0
    for value in values:
        sum_deviation += abs(value - mean_value)
        
    return sum_deviation / n

In [15]:
agg_my_mean = df.groupby('year').lifeExp.agg(mean_deviation) 
print(agg_my_mean)

year
1952    10.717504
1957    10.823396
1962    10.768747
1967    10.382982
1972    10.006127
1977     9.691594
1982     9.283048
1987     9.022130
1992     9.423962
1997    10.022092
2002    10.740177
2007    10.454452
Name: lifeExp, dtype: float64

In [18]:
import numpy as np
def mean_dev(vec):
    N = vec.shape[0]
    M = vec.mean()
    return sum(abs(vec - M)) / N

In [19]:
agg_my_mean = df.groupby('year').lifeExp.agg(mean_dev) 
print(agg_my_mean)

year
1952    10.717504
1957    10.823396
1962    10.768747
1967    10.382982
1972    10.006127
1977     9.691594
1982     9.283048
1987     9.022130
1992     9.423962
1997    10.022092
2002    10.740177
2007    10.454452
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 두 개의 인잣값을 받아 처리하는 사용자 함수와 groupby 메서드(220쪽)

In [10]:
def my_mean_diff(values, diff_value):
    n = len(values) 
    sum = 0 
    for value in values:
        sum += value 
    mean = sum / n 
    return mean - diff_value

In [11]:
global_mean = df.lifeExp.mean() 
print(global_mean)

59.47443936619713

In [12]:
agg_mean_diff = df.groupby('year').lifeExp.agg(my_mean_diff, diff_value=global_mean) 
print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

# 직접 해보세요!
## 집계 메서드를 리스트, 딕셔너리에 담아 전달하기(221쪽)

In [16]:
import numpy as np
gdf = df.groupby('year').lifeExp.agg([np.count_nonzero, np.mean, np.std]) 
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

In [22]:
gdf_dict = df.groupby('year').agg({'lifeExp': 'mean', 'pop': 'median', 'gdpPercap': 'median'}) 
print(gdf_dict)

      lifeExp         pop    gdpPercap
year
1952  45.1355   3943953.0  1968.528344
1957  48.3605   4282942.0  2173.220291
1962  50.8810   4686039.5  2335.439533
1967  53.8250   5170175.5  2678.334741
1972  56.5300   5877996.5  3339.129407
1977  59.6720   6404036.5  3798.609244
1982  62.4415   7007320.0  4216.228428
1987  65.8340   7774861.5  4280.300366
1992  67.7030   8688686.5  4386.085502
1997  69.3940   9735063.5  4781.825478
2002  70.8255  10372918.5  5319.804524
2007  71.9355  10517531.0  6124.371109

In [36]:
lst=[1,2,4,5,7,8,9,10,3]
arr = np.array(lst)
np.quantile(lst,0.75)

8.0

In [47]:
def iqr(values):
    q = np.quantile(values,[.25, .75])
    return q[1] - q[0]

In [49]:
gdf_dict = df.groupby('year').agg({'lifeExp': ['mean', np.std], 'pop': ['median', iqr], 'gdpPercap': ['mean', 'median']}) 
print(gdf_dict)

        lifeExp                    pop                  gdpPercap
           mean        std      median          iqr          mean       median
year
1952  49.057620  12.225956   3943953.0   7716171.50   3725.276046  1968.528344
1957  51.507401  12.231286   4282942.0   8248786.75   4299.408345  2173.220291
1962  53.609249  12.097245   4686039.5   9195722.50   4725.812342  2335.439533
1967  55.678290  11.718858   5170175.5  10579816.25   5483.653047  2678.334741
1972  57.647386  11.381953   5877996.5  12328008.00   6770.082815  3339.129407
1977  59.570157  11.227229   6404036.5  13910509.75   7313.166421  3798.609244
1982  61.533197  10.770618   7007320.0  15401038.50   7518.901673  4216.228428
1987  63.212613  10.556285   7774861.5  17752553.00   7900.920218  4280.300366
1992  64.160338  11.227380   8688686.5  19099390.50   8158.608521  4386.085502
1997  65.014676  11.559439   9735063.5  20541220.00   9090.175363  4781.825478
2002  65.694923  12.279823  10372918.5  22372050.25   9917.848365  5319.804524
2007  67.007423  12.073021  10517531.0  26702008.25  11680.071820  6124.371109

# 직접 해보세요!
## 표준점수 계산하기(223쪽)

In [ ]:
df.groupby('year')[['year',]]

In [79]:
def my_zscore(x):
    return (x - x.mean()) / x.std()

In [78]:
# 안좋은 설계
transform_z = df.groupby('year').lifeExp.transform(my_zscore)
print(transform_z)

0      -1.656854
1      -1.731249
2      -1.786543
3      -1.848157
4      -1.894173
5      -1.882224
6      -2.012809
7      -2.121069
8      -2.002813
9      -2.011488
10     -1.919077
11     -1.919936
12      0.504859
13      0.635469
14      0.926719
15      0.899551
16      0.882328
17      0.833673
18      0.825097
19      0.832432
20      0.660943
21      0.686480
22      0.810767
23      0.779886
24     -0.489174
25     -0.476025
26     -0.438633
27     -0.364480
28     -0.274943
29     -0.138606
          ...
1674   -1.153155
1675   -0.974833
1676   -0.762541
1677   -0.605105
1678   -0.438681
1679   -0.356947
1680   -0.574157
1681   -0.607491
1682   -0.627106
1683   -0.675005
1684   -0.662486
1685   -0.728956
1686   -0.901731
1687   -1.173861
1688   -1.608598
1689   -2.143415
1690   -2.158168
1691   -2.039541
1692   -0.049617
1693   -0.084897
1694   -0.103433
1695   -0.143639
1696   -0.176805
1697   -0.168889
1698   -0.108647
1699   -0.081621
1700   -0.336974
1701   -1.574962
1702   -2.093346
1703   -1.948180
Name: lifeExp, Length: 1704, dtype: float64

In [72]:
transform_z

0      -1.656854
1      -1.731249
2      -1.786543
3      -1.848157
4      -1.894173
5      -1.882224
6      -2.012809
7      -2.121069
8      -2.002813
9      -2.011488
10     -1.919077
11     -1.919936
12      0.504859
13      0.635469
14      0.926719
15      0.899551
16      0.882328
17      0.833673
18      0.825097
19      0.832432
20      0.660943
21      0.686480
22      0.810767
23      0.779886
24     -0.489174
25     -0.476025
26     -0.438633
27     -0.364480
28     -0.274943
29     -0.138606
          ...
1674   -1.153155
1675   -0.974833
1676   -0.762541
1677   -0.605105
1678   -0.438681
1679   -0.356947
1680   -0.574157
1681   -0.607491
1682   -0.627106
1683   -0.675005
1684   -0.662486
1685   -0.728956
1686   -0.901731
1687   -1.173861
1688   -1.608598
1689   -2.143415
1690   -2.158168
1691   -2.039541
1692   -0.049617
1693   -0.084897
1694   -0.103433
1695   -0.143639
1696   -0.176805
1697   -0.168889
1698   -0.108647
1699   -0.081621
1700   -0.336974
1701   -1.574962
1702   -2.093346
1703   -1.948180
Name: lifeExp, Length: 1704, dtype: float64

In [71]:
transform_z.to_frame()

       lifeExp
0    -1.656854
1    -1.731249
2    -1.786543
3    -1.848157
4    -1.894173
5    -1.882224
6    -2.012809
7    -2.121069
8    -2.002813
9    -2.011488
10   -1.919077
11   -1.919936
12    0.504859
13    0.635469
14    0.926719
15    0.899551
16    0.882328
17    0.833673
18    0.825097
19    0.832432
20    0.660943
21    0.686480
22    0.810767
23    0.779886
24   -0.489174
25   -0.476025
26   -0.438633
27   -0.364480
28   -0.274943
29   -0.138606
...        ...
1674 -1.153155
1675 -0.974833
1676 -0.762541
1677 -0.605105
1678 -0.438681
1679 -0.356947
1680 -0.574157
1681 -0.607491
1682 -0.627106
1683 -0.675005
1684 -0.662486
1685 -0.728956
1686 -0.901731
1687 -1.173861
1688 -1.608598
1689 -2.143415
1690 -2.158168
1691 -2.039541
1692 -0.049617
1693 -0.084897
1694 -0.103433
1695 -0.143639
1696 -0.176805
1697 -0.168889
1698 -0.108647
1699 -0.081621
1700 -0.336974
1701 -1.574962
1702 -2.093346
1703 -1.948180

[1704 rows x 1 columns]

# 직접 해보세요!
## 누락값을 평균값으로 처리하기(224쪽)

In [4]:
import seaborn as sns 
import numpy as np

np.random.seed(42)
tips_10 = sns.load_dataset('tips').sample(10)
tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN

print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [83]:
count_sex = tips_10.groupby('sex').count() 
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

In [84]:
def fill_na_mean(x):
    avg = x.mean() 
    return x.fillna(avg)

In [92]:
def fill_na_med(x):
    avg = x.median()
    return x.fillna(avg)

In [93]:
total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_med)
tips_10['fill_total_bill'] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2            19.82
6          8.77  2.00    Male     No   Sun  Dinner     2             8.77
153         NaN  2.00    Male     No   Sun  Dinner     4            17.30
211         NaN  5.16    Male    Yes   Sat  Dinner     4            17.30
198         NaN  2.00  Female    Yes  Thur   Lunch     2            13.93
176         NaN  2.00    Male    Yes   Sun  Dinner     2            17.30
192       28.44  2.56    Male    Yes  Thur   Lunch     2            28.44
124       12.48  2.52  Female     No  Thur   Lunch     2            12.48
9         14.78  3.23    Male     No   Sun  Dinner     2            14.78
101       15.38  3.00  Female    Yes   Fri  Dinner     2            15.38

In [85]:
total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_mean)
tips_10['fill_total_bill'] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

In [88]:
tips_10.loc[tips_10['sex']=='Male']

     total_bill   tip   sex smoker   day    time  size  fill_total_bill
24        19.82  3.18  Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00  Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00  Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16  Male    Yes   Sat  Dinner     4          17.9525
176         NaN  2.00  Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56  Male    Yes  Thur   Lunch     2          28.4400
9         14.78  3.23  Male     No   Sun  Dinner     2          14.7800

In [7]:
totMM = tips_10[['total_bill', 'tip']].agg(['mean', 'median'])

In [10]:
totMM

        total_bill    tip
mean     16.611667  2.765
median   15.080000  2.540

In [23]:
def per(vals):
    vals

In [25]:
tips_10['tiprate'] = tips_10['tip'] / tips_10['total_bill']

In [26]:
tips_10

     total_bill   tip     sex smoker   day    time  size   tiprate
24        19.82  3.18    Male     No   Sat  Dinner     2  0.160444
6          8.77  2.00    Male     No   Sun  Dinner     2  0.228050
153         NaN  2.00    Male     No   Sun  Dinner     4       NaN
211         NaN  5.16    Male    Yes   Sat  Dinner     4       NaN
198         NaN  2.00  Female    Yes  Thur   Lunch     2       NaN
176         NaN  2.00    Male    Yes   Sun  Dinner     2       NaN
192       28.44  2.56    Male    Yes  Thur   Lunch     2  0.090014
124       12.48  2.52  Female     No  Thur   Lunch     2  0.201923
9         14.78  3.23    Male     No   Sun  Dinner     2  0.218539
101       15.38  3.00  Female    Yes   Fri  Dinner     2  0.195059

# 직접 해보세요!
## 데이터 필터링 사용하기 ─ filter 메서드(227쪽)

In [23]:
tips = sns.load_dataset('tips')

print(tips.shape)

(244, 7)

In [24]:
print(tips['size'].value_counts())

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [25]:
tips_filtered = tips.\
    groupby('size').\
    filter(lambda x: x['size'].count() >= 30)

In [26]:
print(tips_filtered.shape)

(231, 7)

In [27]:
print(tips_filtered['size'].value_counts())

2    156
3     38
4     37
Name: size, dtype: int64

# 직접 해보세요!
## 그룹 오브젝트 저장하여 살펴보기(229쪽)

In [28]:
tips_10 = sns.load_dataset('tips').sample(10, random_state=42) 
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [29]:
grouped = tips_10.groupby('sex')
print(grouped)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000209D96377F0>

In [30]:
print(grouped.groups)

{'Male': Int64Index([24, 6, 153, 211, 176, 192, 9], dtype='int64'), 'Female': Int64Index([198, 124, 101], dtype='int64')}

# 직접 해보세요!
## 그룹 오브젝트의 평균 구하기(230쪽)

In [31]:
avgs = grouped.mean() 
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [32]:
print(tips_10.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

# 직접 해보세요!
## 그룹 오브젝트에서 데이터 추출하고 반복하기(231쪽)

In [33]:
# 그룹 오브젝트 활용 참고
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

In [34]:
female = grouped.get_group('Female') 
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [35]:
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

In [36]:
for sex_group in grouped:
    print('the type is: {}\n'.format(type(sex_group)))
    print('the length is: {}\n'.format(len(sex_group)))

    first_element = sex_group[0] 
    print('the first element is: {}\n'.format(first_element))
    print('it has a type of: {}\n'.format(type(sex_group[0])))

    second_element = sex_group[1] 
    print('the second element is:\n{}\n'.format(second_element))
    print('it has a type of: {}\n'.format(type(second_element)))

    print('what we have:') 
    print(sex_group)

    break

the type is: <class 'tuple'>

the length is: 2

the first element is: Male

it has a type of: <class 'str'>

the second element is:
     total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2

it has a type of: <class 'pandas.core.frame.DataFrame'>

what we have:
('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)

# 직접 해보세요!
## 그룹 오브젝트 계산하고 살펴보기(234쪽)

In [40]:
bill_sex_time = tips_10.groupby(['sex', 'time'])
group_avg = bill_sex_time.mean() 

print(group_avg)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000

In [39]:
print(type(group_avg))

<class 'pandas.core.frame.DataFrame'>

In [40]:
print(group_avg.columns)

Index(['total_bill', 'tip', 'size'], dtype='object')

In [41]:
print(group_avg.index)

MultiIndex(levels=[['Male', 'Female'], ['Lunch', 'Dinner']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['sex', 'time'])

In [ ]:
group_method = tips_10.groupby(['sex', 'time']).mean().reset_index() 
print(group_method)

In [ ]:
group_param = tips_10.groupby(['sex', 'time'], as_index=False).mean( ) 
print(group_param)