In [1]:
word_list=[
    '남자 남자 남자 밥을 먹는다',
    '남자 남자 걷는다',
    '남자 남자 남자',
    '남자 남자 남자 남자',
    '남자 남자 남자 여자 여자',
    '남자 남자 남자 밥 밥 먹는다'
]

In [2]:
n=6

In [3]:
import math

In [4]:
#남자
idf1 = math.log((1+n)/(1+6))+1
idf1

1.0

In [5]:
#여자
idf2 = math.log((1+n)/(1+1))+1
idf2

2.252762968495368

In [6]:
#밥
idf3 = math.log((1+n)/(1+2))+1
idf3

1.8472978603872037

In [7]:
word_list[0]

'남자 남자 남자 밥을 먹는다'

In [8]:
#첫번째 문장에서 남자 TF-IDF
tfidf11=3*idf1
tfidf11

3.0

In [9]:
#라이브러리 사용

In [10]:
import numpy as np
np.array([3,0,1.8473])/np.sqrt(pow(3,2)+1.8473*1.8473)

array([0.85151308, 0.        , 0.52433337])

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
#명사와 형용사만 걸러내는 과정
from konlpy.tag import Okt
twitter = Okt()
def getNounAndAdject(text):
    stems = []
    tagged = twitter.pos(text, stem=True)
    for i in range(0, len(tagged)):
        if ( tagged[i][1]=='Noun' or tagged[i][1]=='Adjective'):
            stems.append(tagged[i][0])
    return stems

C:\ai\python\anaconda3\lib\site-packages\jpype\_core.py:210: UserWarning:
-------------------------------------------------------------------------------
Deprecated: convertStrings was not specified when starting the JVM. The default
behavior in JPype will be False starting in JPype 0.8. The recommended setting
for new code is convertStrings=False.  The legacy value of True was assumed for
this session. If you are a user of an application that reported this warning,
please file a ticket with the developer.
-------------------------------------------------------------------------------

  """)

In [27]:
# tokenizer에 미리 만든 함수를 넣어서 벡터화, 
# min_df는 최소 2문장 이상의 문장에 포함된 단어 설정
vectorizer = TfidfVectorizer(tokenizer=getNounAndAdject, min_df=2)

In [28]:
X_train_vector = vectorizer.fit_transform(word_list)

In [29]:
vectorizer.get_feature_names()

['남자', '밥']

In [30]:
import pandas as pd

In [31]:
pd.DataFrame(
    X_train_vector.A,
    columns = vectorizer.get_feature_names())

         남자         밥
0  0.851513  0.524333
1  1.000000  0.000000
2  1.000000  0.000000
3  1.000000  0.000000
4  1.000000  0.000000
5  0.630357  0.776305

In [45]:
youtube_dic={'title':['t1','t2','t3','t4','t5'],
            'view_num2':[1,2,3,4,5]}

In [46]:
youtube= pd.DataFrame(youtube_dic)
youtube

  title  view_num2
0    t1          1
1    t2          2
2    t3          3
3    t4          4
4    t5          5

In [47]:
from sklearn.model_selection import train_test_split

In [54]:
train_test_split(
    youtube['title'],youtube['view_num2']
)

[0    t1
 4    t5
 2    t3
 Name: title, dtype: object, 1    t2
 3    t4
 Name: title, dtype: object, 0    1
 4    5
 2    3
 Name: view_num2, dtype: int64, 1    2
 3    4
 Name: view_num2, dtype: int64]